body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f6dfdf;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4dbdb;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1 {
    color: #b50e0e;
}

input[type="text"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #1b6dc5;
    box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #07f35d;
}